@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#fileUploader {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
#labelUploader {
    float: left;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    border-radius: 7px;
    border: 3px dashed rgb(124, 122, 122);
    }
#labelUploader:hover{
      border: 3px dashed rgb(17, 17, 161);
    }
